*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: #fff
}

body{
    background-color: #999393;
}

.content{
    color: #fff;
    padding: 0;
    margin: 0;
}

.firstPart{
    height: 50vh;
    display: flex;
}

.firstPart .icons{
    display: flex;
    justify-content: space-between;
}

.firstPart .icons img{
    width: 4rem;
    height: 4rem;
    margin: 0 1rem;
}

.firstPart h1{
    padding: 0;
    margin: 0;
    font-size: 4rem;
}

.firstPart h2{
    font-size: 2rem;
}

.secondPart{
    padding: 0;
    margin: 0;
    height: 30vh;
}

.container h2{
    font-size: 2rem;
}

.secondPart p{
    font-size: 2rem;
}

.projects img{
    width: 100%;
    border-radius: 1.5rem;
}

.projects .project{
    text-align: center;
    margin: 3rem 0;
    font-size: 1.2rem;
}

.certificates img{
    width: 100%;
    border-radius: 1.5rem;
}

.certificates .certificate{
    text-align: center;
    margin: 3rem 0;
    font-size: 1.2rem;
}

.contacts{
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
}

@media (min-width: 550px){
    .content{
        display: flex;
        flex-direction: column;
        text-align: center;
        align-content: center;
    }

    .firstPart{
        width: 100%;
        justify-content: center;
        margin: 5rem 0;
    }

    .container h2{
        width: 100%;
        font-size: 3rem;
    }

    .container h3{
        width: 100%;
        font-size: 2rem;
    }

    .container p{
        font-size: 1.5rem;
    }

    .projects .project img{
        width: 80%;
    }

    .certificates .certificate img{
        width: 80%;
    }

    .contacts{
        width: 100%;
        font-size: 1.5rem;
    }
}

@media (min-width: 800px){

    .projects .project img{
        width: 70%;
    }

    .certificates .certificate img{
        width: 70%;
    }
}

@media (min-width: 1024px){

    .content p{
        font-size: 2rem;
    }

    .projects .project img{
        width: 60%;
    }

    .certificates .certificate img{
        width: 60%;
    }

    .firstPart h1{
        font-size: 6rem;
    }
}

@media (min-width: 1200px){

    .projects .project img{
        width: 50%;
    }

    .certificates .certificate img{
        width: 50%;
    }

}