* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #E5E5E5;
}

.retangulo1 {
    padding: 5px;
    background-color: #646464;
}

.retangulo2 {
    padding: 5px;
    background-color: #9F9F9F;
}

.navega {
    padding: 10px;
    padding-right: 100px;
    background-color: #F3F3F3;
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}

.navega a {
    text-decoration: none;
    color: #7A7A7A;
    transition: 0.5s;
}

.navega a:hover {
    color: #202020;
}

.secaoApresentacao {
    display: flex;
}

.apresentacao {
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    padding: 50px;
    width: 600px;
}

.apresentacao h1 {
    margin-top: 50px;
    margin-bottom: 30px;
    line-height: 1.5;
    font-size: 40px;
}

.apresentacao p {
    margin-bottom: 30px;
    line-height: 1.5;
}

.apresentacao button {
    width: 208px;
    height: 47px;
    left: 148px;
    top: 477px;
    background: #787878;
    border-radius: 2px;
}

.imagem {
    padding: 50px;
    margin-left: 50px;
    margin-top: 50px;
}

.imagem img {
    border-radius: 100%;
    border: solid #c4c4c4 5px;
    width: 250px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}