* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-decoration: none;
}

body {
    
    background-color: rgb(15, 26, 35);
    font-size: 22px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.retangulo1 {
    padding: 5px;
    background-color: rgb(10, 20, 65);
}

.retangulo2 {
    padding: 5px;
    background-color: rgb(10, 20, 55);
}

.navega {
    padding: 10px;
    padding-right: 50px;
    background-color: rgb(10, 20, 40);

    display: flex;
    justify-content: flex-end;
    gap: 20px;
}

.navega a {
    color: #7A7A7A;
    transition: 0.5s;
}

.navega a:hover {
    color: #202020;
}

.secaoApresentacao {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
    border-bottom: 0.5px solid rgb(20, 43, 55)
}

.apresentacao {
    display: flex;
    flex-direction: column;
    width: 90%;
}

.apresentacao h1 {
    line-height: 1.5;
    margin-top: 50px;
    font-size: 40px;
    display: flex;
    justify-content: center;
}

.apresentacao p {
    margin-bottom: 30px;
    line-height: 1.5;
    display: flex;
    justify-content: center;
}

.apresentacao button {
    width: 120%;
    height: 40px;
    background: rgb(42, 25, 200);
    border-radius: 15px;
}

.linkDownload {
    display: flex;
    justify-content: center;
}

.secaoCertificados
{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
    border-bottom: 0.5px solid rgb(20, 43, 55);
    padding-top: 50px;
}

.certificado
{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    margin-top: 50px;
}

.certificado img
{
    max-width: 500px;
    max-height: 300px;
    width: auto;
    height: auto;
}

.certificadoLink
{
    text-align: center;
}

.trabalhos {

    padding-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
    border-bottom: 0.5px solid rgb(20, 43, 55)

}

.projeto {
    display: flex;
    flex-direction: column;
    padding: 30px;
}

.itemProjeto img {
    width: 250px;
    border-radius: 10px;
}

.itemProjeto {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.conteudoItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.conteudoItem h3 {
    margin-bottom: 20px;
}

footer {
    position: relative;
    text-align: center;
    width: 100%;
    line-height: 2;
}

@media (max-width: 1080px)
{

    body
    {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .secaoApresentacao
    {
        height: 30vh;
    }


    .secaoCertificados
    {
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .certificado
    {
        width: 85%;
        padding: 20px;
    }

    .certificadosDestaque
    {
        padding-top: 0;
    }

    .trabalhos
    {
        padding-top: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}